bla.conf
conf.backup
gickup.exe
gickup
conf.yml
.idea
dist/
webui/node_modules/
webui/dist/
webui/test-results/
webui/playwright-report/
gickup-e2e
gickup-e2e.exe
.vscode
backup/
log/
*.db
*.bck.*
*.bak
